@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background: black; }

.page {
  width: 100%;
  max-width: 1920px;
  background: white;
  min-height: 100vh; }

ul {
  list-style: none;
  padding: 0px; }

.chalk {
  font-family: 'Permanent Marker', cursive;
  color: white;
  line-height: .9em;
  text-shadow: 3px   0  0   #000,  -3px   0  0   #000,  0    3px 0   #000,  0   -3px 0   #000,  2px  2px 0   #000,  -2px -2px 0   #000,  2px -2px 0   #000,  -2px  2px 0   #000; }

a {
  cursor: pointer; }

.scaff {
  border: 1px solid red; }

.scaff2 {
  border: 1px solid green; }

.scaff3 {
  border: 1px solid blue; }

.scaff4 {
  border: 1px solid purple; }

.gradientBG, .gradientSeg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcf1f+0,ffad13+100 */
  background: #ffcf1f;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffcf1f 0%, #ffad13 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffcf1f 0%, #ffad13 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffcf1f 0%, #ffad13 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf1f', endColorstr='#ffad13',GradientType=1 );
  /* IE6-9 */ }

.header {
  font-family: 'Arial';
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (max-width: 736px) {
    .header {
      flex-direction: column; } }
  .header .kickStartCTA {
    padding: 5px;
    display: flex;
    line-height: 5px;
    flex-direction: row;
    align-items: center;
    color: #a6a6a6; }
    .header .kickStartCTA .imageWrap img {
      margin-left: 10px; }
  .header .headerNav {
    list-style: none;
    margin: 5px 0px;
    display: flex; }
    @media (max-width: 736px) {
      .header .headerNav {
        width: 100%; } }
    .header .headerNav .navItem {
      margin: 0px 5px;
      padding: 5px 10px;
      float: left;
      color: #a6a6a6; }
      @media (max-width: 736px) {
        .header .headerNav .navItem {
          flex: 1;
          font-size: .8em; } }
      .header .headerNav .navItem:hover {
        color: #727171; }
      .header .headerNav .navItem a {
        color: inherit;
        text-decoration: none; }
    .header .headerNav .navButton {
      background: #7ac142;
      position: relative;
      padding: 0px;
      color: black;
      border: 2px solid black;
      max-width: 120px; }
      .header .headerNav .navButton:hover {
        background: #8bdb4c;
        color: black; }
      .header .headerNav .navButton a {
        padding: 0px 20px;
        padding-top: 3px;
        display: block; }
        @media (max-width: 736px) {
          .header .headerNav .navButton a {
            width: 100%;
            padding: 0px;
            text-align: center;
            padding-top: 3px; } }

.adminHeader {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px; }
  .adminHeader .headerTitle {
    margin-top: 10px;
    margin-left: 20px;
    color: #a6a6a6; }
  .adminHeader .headerNav {
    margin-top: 10px;
    margin-left: 15px; }

.contentSeg p {
  font-family: 'Arial'; }

.corkedSeg {
  background-image: url("../images/corkTexture.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.chalk.title {
  padding-bottom: 15px;
  padding-top: 20px; }
  @media (max-width: 736px) {
    .chalk.title {
      margin: 5px 0px;
      padding-bottom: 20px; } }
  .chalk.title.contained {
    margin-left: 25%;
    margin-right: 25%; }
    @media (max-width: 736px) {
      .chalk.title.contained {
        margin-left: 5%;
        margin-right: 5%; } }

.chalk.title.underlined {
  border-bottom: 2px dashed #f9a200; }

.splashContent {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (max-width: 736px) {
    .splashContent {
      flex-direction: column; } }
  .splashContent .segHalf {
    max-width: 500px;
    padding: 50px;
    padding-bottom: 20px;
    position: relative; }
    @media (max-width: 736px) {
      .splashContent .segHalf {
        padding: 0px 20px;
        max-width: 100%; } }
    .splashContent .segHalf.centered {
      text-align: center; }
    .splashContent .segHalf .heroImage {
      display: inline-block;
      width: 100%;
      max-width: 100%;
      max-height: 100%; }
      @media (max-width: 736px) {
        .splashContent .segHalf .heroImage {
          margin-top: 20px;
          width: auto; } }
    .splashContent .segHalf .logo {
      position: absolute;
      top: 30px;
      left: 20px;
      height: 170px; }
      @media (max-width: 736px) {
        .splashContent .segHalf .logo {
          left: 3%;
          top: 0px;
          height: 150px; } }
      @media (min-width: 736px) and (max-width: 1024px) {
        .splashContent .segHalf .logo {
          top: 40px;
          left: 0px; } }
  .splashContent .ctaGroup {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    max-width: 300px; }
    @media (max-width: 736px) {
      .splashContent .ctaGroup {
        max-width: auto; } }
    .splashContent .ctaGroup .button {
      flex: 1;
      text-align: center;
      background: #7ac142;
      display: inline-block;
      margin: 0px 5px;
      color: black;
      border: 2px solid black;
      padding: 5px 10px; }
      .splashContent .ctaGroup .button:hover {
        background: #8bdb4c; }
      .splashContent .ctaGroup .button:first-of-type {
        margin-left: 0px; }
      .splashContent .ctaGroup .button:last-of-type {
        margin-right: 0px; }

.overviewCardsWrap {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }
  .overviewCardsWrap .overviewCards {
    display: inline-block;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 736px) {
      .overviewCardsWrap .overviewCards {
        margin-top: 30px; } }
    .overviewCardsWrap .overviewCards .overviewCard {
      margin: 10px 5px;
      float: left;
      border-bottom: 2px solid black;
      margin-bottom: 2px;
      background: white;
      width: 120px;
      min-height: 80px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 736px) {
        .overviewCardsWrap .overviewCards .overviewCard {
          margin: 15px 5px; } }
      .overviewCardsWrap .overviewCards .overviewCard:hover {
        border-bottom: 4px solid black;
        margin-bottom: 0px; }
      .overviewCardsWrap .overviewCards .overviewCard img {
        position: absolute;
        z-index: 5;
        top: -20px;
        left: 0px;
        right: 0px;
        margin: auto; }
      .overviewCardsWrap .overviewCards .overviewCard .title {
        margin-top: 30px;
        font-size: .8em;
        font-weight: bold;
        padding: 0px 10px; }

.centeredSeg {
  text-align: center; }
  .centeredSeg .block {
    display: inline-block; }
  .centeredSeg img {
    max-width: 100%;
    max-height: 100%; }

.splitOverlap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px 0px; }
  @media (max-width: 736px) {
    .splitOverlap {
      flex-direction: column;
      margin: 0px; } }
  .splitOverlap .title {
    position: relative;
    left: 10%;
    bottom: -60px;
    z-index: 5;
    max-width: 400px;
    text-align: left; }
    @media (max-width: 736px) {
      .splitOverlap .title {
        left: initial;
        bottom: initial;
        position: absolute;
        bottom: 10%;
        margin: 10px; } }
    @media (min-width: 1200px) {
      .splitOverlap .title {
        max-width: 500px;
        left: 5%; } }
  .splitOverlap .shardImage {
    margin: 30px;
    right: 5%;
    position: relative; }
    @media (max-width: 736px) {
      .splitOverlap .shardImage {
        right: initial;
        margin: 0px;
        margin-bottom: 100px; } }
    @media (min-width: 1200px) {
      .splitOverlap .shardImage {
        right: 5%; } }
    .splitOverlap .shardImage .shard {
      position: absolute;
      width: 50px; }
      @media (max-width: 736px) {
        .splitOverlap .shardImage .shard {
          display: none; } }
      @media (min-width: 1200px) {
        .splitOverlap .shardImage .shard {
          width: 70px; } }
      .splitOverlap .shardImage .shard:first-of-type {
        top: 15%;
        left: -40px; }
        @media (min-width: 1200px) {
          .splitOverlap .shardImage .shard:first-of-type {
            left: -60px; } }
      .splitOverlap .shardImage .shard:last-of-type {
        bottom: 10%;
        right: -30px; }
        @media (min-width: 1200px) {
          .splitOverlap .shardImage .shard:last-of-type {
            right: -40px; } }
    .splitOverlap .shardImage .block {
      max-width: 400px; }
      @media (max-width: 736px) {
        .splitOverlap .shardImage .block {
          max-width: 100%;
          max-height: 300px; } }
      @media (min-width: 1200px) {
        .splitOverlap .shardImage .block {
          max-width: 500px; } }

.corkedSeg {
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .corkedSeg .title {
    width: 100%;
    margin: 0px;
    padding: 0px; }
    @media (max-width: 736px) {
      .corkedSeg .title {
        margin: 5px 0px; } }
  @media (max-width: 736px) {
    .corkedSeg .flareFrame {
      display: none; } }
  .corkedSeg .flareFrame img {
    max-width: 100px;
    padding: 0px 20px;
    position: relative;
    top: 20px; }
    @media (min-width: 1200px) {
      .corkedSeg .flareFrame img {
        max-width: 150px;
        position: relative;
        top: 50px; } }
  .corkedSeg .flareContent .videoWrap {
    max-width: 400px;
    max-height: 200px;
    margin: 30px 0px; }
    @media (max-width: 736px) {
      .corkedSeg .flareContent .videoWrap {
        width: 100%; } }
    @media (min-width: 1200px) {
      .corkedSeg .flareContent .videoWrap {
        max-width: 600px;
        max-height: 400px; } }

.pricingOptions {
  margin: 20px 0px 40px 0px; }
  @media (max-width: 736px) {
    .pricingOptions {
      margin-top: 10px;
      margin-bottom: 20px; } }
  .pricingOptions .priceOption {
    margin: 5px;
    padding: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: white;
    position: relative;
    width: 130px; }
    @media (max-width: 736px) {
      .pricingOptions .priceOption {
        clear: both;
        width: 150px;
        margin: 20px; } }
    @media (min-width: 1200px) {
      .pricingOptions .priceOption {
        width: 200px; } }
    .pricingOptions .priceOption .value {
      position: absolute;
      top: -15px;
      left: 0px;
      right: 0px;
      margin: auto; }
    .pricingOptions .priceOption .title {
      font-size: .8em;
      margin-top: 20px; }
    .pricingOptions .priceOption .price {
      font-size: 2em;
      margin: 15px 0px;
      margin-bottom: 10px;
      position: relative; }
      .pricingOptions .priceOption .price .mini {
        font-size: .3em;
        position: relative;
        bottom: 15px;
        left: -5px; }
    .pricingOptions .priceOption .cta {
      line-height: 30px;
      width: 100%;
      display: inline-block;
      color: #ffad13;
      background: #1a1a1a;
      text-decoration: none;
      font-size: .9em; }
      .pricingOptions .priceOption .cta:hover {
        background: #333333; }

.kickStartBanner {
  color: #a6a6a6;
  padding: 15px;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 20px; }
  .kickStartBanner img {
    position: relative;
    top: 5px;
    margin-left: 5px; }

.comment {
  display: inline-block;
  max-width: 100%; }
  .comment form {
    margin: 10px 20px;
    width: 400px; }
    @media (max-width: 736px) {
      .comment form {
        width: auto; } }
  .comment .formRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .comment .formRow .formGroup {
      flex-grow: 1;
      margin: 10px;
      display: flex;
      flex-direction: column; }
      .comment .formRow .formGroup label {
        text-align: left;
        padding-bottom: 5px; }
  .comment input[type=submit] {
    color: #ffad13;
    background: #1a1a1a;
    border: 0px;
    display: inline-block;
    padding: 5px 10px; }
    .comment input[type=submit]:hover {
      background: #333333; }

.commentList {
  display: inline-block;
  width: 500px; }
  @media (max-width: 736px) {
    .commentList {
      width: 100%;
      max-width: 500px; } }
  .commentList h1 {
    margin-bottom: 0px; }
  .commentList li {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0px; }

.formWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  font-family: 'Arial'; }
  .formWrap .form {
    margin: 20px; }
    .formWrap .form .errors {
      color: red;
      font-size: .8em; }
    .formWrap .form form {
      max-width: 500px; }
      .formWrap .form form input {
        width: 100%; }
      .formWrap .form form .inlineField {
        padding: 5px 0px;
        display: inline-block;
        width: 100%; }
        .formWrap .form form .inlineField label {
          float: left;
          width: 100px; }
        .formWrap .form form .inlineField input {
          float: left;
          width: auto; }
        .formWrap .form form .inlineField textarea {
          min-width: 300px;
          text-align: justify;
          max-width: 100%; }
      .formWrap .form form .formAction {
        margin-top: 20px;
        background: #a6a6a6;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
        cursor: pointer;
        width: auto;
        display: inline-block;
        text-align: center; }
        .formWrap .form form .formAction:hover {
          background-color: #727171; }
      .formWrap .form form input[type="submit"] {
        background: #7ac142; }
        .formWrap .form form input[type="submit"]:hover {
          background-color: #8bdb4c; }

.commentManagement {
  font-family: 'Arial';
  display: flex;
  align-items: center;
  justify-content: center; }
  .commentManagement .commentLists {
    width: 95%; }
    .commentManagement .commentLists .listTitle {
      color: #a6a6a6;
      font-weight: 300; }
    .commentManagement .commentLists .commentList {
      max-width: 100%;
      width: 100%; }
      .commentManagement .commentLists .commentList .commentListing {
        display: flex;
        flex-direction: row;
        padding: 10px 0px;
        justify-content: space-between;
        border-bottom: 1px solid #e6e6e6; }
        .commentManagement .commentLists .commentList .commentListing:first-of-type {
          border-top: 1px solid #e6e6e6; }
        .commentManagement .commentLists .commentList .commentListing:hover {
          background: #f8f8f8; }
        .commentManagement .commentLists .commentList .commentListing .details {
          padding-right: 10px;
          flex-grow: 6; }
          .commentManagement .commentLists .commentList .commentListing .details .message {
            margin: 0px;
            margin-bottom: 10px; }
          .commentManagement .commentLists .commentList .commentListing .details .author {
            margin-right: 10px; }
          .commentManagement .commentLists .commentList .commentListing .details small {
            color: #a6a6a6; }
        .commentManagement .commentLists .commentList .commentListing .actions {
          flex-shrink: 3;
          min-width: 60px; }
          .commentManagement .commentLists .commentList .commentListing .actions .action {
            display: inline-block;
            padding: 5px;
            text-decoration: none;
            color: #a6a6a6; }
            .commentManagement .commentLists .commentList .commentListing .actions .action:hover {
              color: #727171; }
    .commentManagement .commentLists .commentsPending .commentListing .actions {
      min-width: 125px; }

.modalWrap {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: none; }
  .modalWrap .modal {
    background: white;
    margin: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    position: relative; }
    .modalWrap .modal .modalClose {
      color: #ffad13;
      text-align: right;
      margin: 0px;
      position: absolute;
      right: 20px;
      cursor: pointer; }
    .modalWrap .modal .modalHeader {
      border-bottom: 2px dashed #f9a200; }
    .modalWrap .modal .modalBody {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .modalWrap .modal .modalBody .block {
        max-width: 150px;
        margin: 20px; }
        .modalWrap .modal .modalBody .block img {
          width: 50px; }
        .modalWrap .modal .modalBody .block .blockLink {
          text-decoration: none;
          padding: 5px 10px;
          color: #ffad13;
          display: block;
          background-color: #1a1a1a; }
          .modalWrap .modal .modalBody .block .blockLink:hover {
            background: #333333; }

.modalWrap.show {
  display: block; }
