.commentManagement{
	font-family: 'Arial';
	display: flex;
	align-items: center;
	justify-content: center;
	.commentLists{
		width: 95%;	
		.listTitle{
			color: $softGrey;
			font-weight: 300;
		}
		.commentList{
			max-width: 100%;
			width: 100%;
			.commentListing{
				display: flex;
				flex-direction: row;				
				padding: 10px 0px;
				justify-content: space-between;
				border-bottom: 1px solid lighten($softGrey, 25%);
				&:first-of-type(){
					border-top: 1px solid lighten($softGrey, 25%);
				}
				&:hover{
					background: lighten($softGrey, 32%);
				}
				.details{
					padding-right: 10px;
					flex-grow: 6;
					.message{
						margin: 0px;
						margin-bottom: 10px;
					}
					.author{
						margin-right: 10px;
					}
					small{
						color: $softGrey; 
					}
				}	
				.actions{
					flex-shrink: 3;	
					min-width: 60px;			
					.action{
						display: inline-block;
						padding: 5px;
						text-decoration: none;
						color: $softGrey;
						&:hover{
							color: $softGreyHover;
						}
					}
				}		
			}
		}
		.commentsPending{
			.commentListing{
				.actions{
					min-width: 125px;
				}
			}
		}	
	}
}