$lightYellow: #ffcf1f;
$darkYellow: #ffad13;

$ctaGreen: #7ac142;
$ctaGreenHover: #8bdb4c;

$softGrey: #a6a6a6;
$softGreyHover: #727171;

.gradientBG{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcf1f+0,ffad13+100 */
	background: #ffcf1f; /* Old browsers */
	background: -moz-linear-gradient(left, $lightYellow 0%, $darkYellow 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, $lightYellow 0%,$darkYellow 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $lightYellow 0%,$darkYellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf1f', endColorstr='#ffad13',GradientType=1 ); /* IE6-9 */
}