.formWrap{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	font-family: 'Arial';
	.form{
		margin: 20px;
		.errors{
			color: red;
			font-size: .8em; 
		}
		form{
			max-width: 500px;
			input{
				width: 100%;
			}			
			.inlineField{
				padding: 5px 0px;
				display: inline-block;
				width: 100%;
				label{
					float: left;
					width: 100px;
				}
				input{
					float: left;
					width: auto;
				}
				textarea{
					min-width: 300px;
					text-align: justify;
					max-width: 100%;
				}
			}
			.formAction{
				margin-top: 20px;
				background: $softGrey;
				border: none;
				border-radius: 5px;
				padding: 5px 10px;
				color: white;
				cursor: pointer;
				width: auto;
				display: inline-block;
				text-align: center;
				&:hover{
					background-color: $softGreyHover;
				}
			}
			input[type="submit"]{
				background: $ctaGreen;
				&:hover{
					background-color: $ctaGreenHover;
				}
			}			
		}
	} 
}