@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
	margin: 0px;
	display: flex;
	justify-content: center;
	background: black;
}

.page{
	width: 100%;
	max-width: 1920px;
	background: white;
	min-height: 100vh;
}

ul{
	list-style: none;
	padding: 0px;
}

$chalkRadius: 2px;

.chalk{
	font-family: 'Permanent Marker', cursive;
	color: white;
	line-height: .9em;
	// Cross browser text outline
	text-shadow: 
     3px   0  0   #000, 
    -3px   0  0   #000, 
     0    3px 0   #000, 
     0   -3px 0   #000, 
     2px  2px 0   #000, 
    -2px -2px 0   #000, 
     2px -2px 0   #000, 
    -2px  2px 0   #000;
}

a{
	cursor: pointer;
}