.header{
	font-family: 'Arial';
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	@media (max-width: 736px){
		flex-direction: column;
	}
	.kickStartCTA{
		padding: 5px;
		display: flex;
		line-height: 5px;
		flex-direction: row; 
		align-items: center;		
		color: $softGrey;
		.imageWrap{
			img{
				margin-left: 10px;
			}
		}
	}
	.headerNav{
		list-style: none;
		margin: 5px 0px; 
		display: flex;
		@media (max-width: 736px){
			width: 100%;
		} 
		.navItem{
			@media (max-width: 736px){
				flex: 1;
				font-size: .8em;
			}
			margin: 0px 5px;
			padding: 5px 10px;
			float: left;
			color: $softGrey;
			&:hover{ 
				color: $softGreyHover;
			}
			a{
				color: inherit;
				text-decoration: none;
			}
		}
		.navButton{
			background: $ctaGreen;
			position: relative;
			padding: 0px;
			color: black;
			border: 2px solid black;
			max-width: 120px;
			&:hover{
				background: $ctaGreenHover;
				color: black;
			}
			a{
				padding: 0px 20px;
				padding-top: 3px;
				display: block; 
				@media(max-width: 736px){
					width: 100%;
					padding: 0px;
					text-align: center;
					padding-top: 3px;
				}
			}
		}
	}
}

.adminHeader{
	border-bottom: 1px solid lighten($softGrey, 25%);
	padding-bottom: 10px;
	.headerTitle{
		margin-top: 10px;
		margin-left: 20px;
		color: $softGrey;
	}
	.headerNav{
		margin-top: 10px;
		margin-left: 15px;
	}
}