// All page segments
.contentSeg{
	p{
		font-family: 'Arial';
	}
}

// Backgrounds
.gradientSeg{
	@extend .gradientBG;
}

.corkedSeg{
	background-image: url('../images/corkTexture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

// Special Titles
.chalk.title{
	padding-bottom: 15px;	
	padding-top: 20px;
	@media(max-width: 736px){
		margin: 5px 0px;
		padding-bottom: 20px; 
	}
	&.contained{
		margin-left: 25%;
		margin-right: 25%;
		@media(max-width: 736px){
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}

.chalk.title.underlined{
	border-bottom: 2px dashed darken($darkYellow, 5%);
}

// Hero
.splashContent{
	display: flex;
	flex-direction: row;
	// flex-wrap: wrap;

	justify-content: center;
	@media (max-width: 736px){
		flex-direction: column;
	}
	.segHalf{
		max-width: 500px;
		padding: 50px;
		padding-bottom: 20px;
		position: relative;
		@media (max-width: 736px){
			padding: 0px 20px;
			max-width: 100%;
		}
		&.centered{
			text-align: center;
		}
		.heroImage{
			display: inline-block;
			width: 100%;
			max-width: 100%; 
			max-height: 100%;
			@media(max-width: 736px){
				margin-top: 20px;
				width: auto;
			}
		}
		.logo{
			position: absolute;
			top: 30px;
			left: 20px;
			height: 170px;
			@media (max-width: 736px){
				left: 3%;
				top: 0px;
				height: 150px;
			}
			@media (min-width: 736px) and (max-width: 1024px){
				top: 40px;
				left: 0px;
			}

		}
	}
	.ctaGroup{
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		max-width: 300px;
		@media (max-width: 736px){
			max-width: auto;
		}
		.button{
			flex: 1;
			text-align: center;
			background: $ctaGreen;
			display: inline-block;
			margin: 0px 5px;
			color: black;
			border: 2px solid black;
			&:hover{ 
				background: $ctaGreenHover;
			}
			&:first-of-type{ 
				margin-left: 0px;
			}
			&:last-of-type(){
				margin-right: 0px;
			}
			padding: 5px 10px;
		}		
	}
}

// Hero Overview Cards
.overviewCardsWrap{
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	.overviewCards{
		display: inline-block;
		max-width: 900px;
		display: flex;
		flex-direction: row;	
		flex-wrap: wrap;
		justify-content: center;	
		@media(max-width: 736px){
			margin-top: 30px;
		}
		.overviewCard{
			margin: 10px 5px;
			float: left;
			border-bottom: 2px solid black;
			margin-bottom: 2px;
			background: white;
			width: 120px; 
			min-height: 80px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@media(max-width: 736px){
				margin: 15px 5px;
			}
			&:hover{
				border-bottom: 4px solid black;
				margin-bottom: 0px;
			}
			img{
				position: absolute;
				z-index: 5; 
				top: -20px;
				left: 0px;
				right: 0px;
				margin: auto;
			}
			.title{
				margin-top: 30px; 
				font-size: .8em;
				font-weight: bold;
				padding: 0px 10px;
			}
		}
	}
}

.centeredSeg{
	text-align: center;
	.block{
		display: inline-block;
	}
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

// Family Fun
.splitOverlap{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 30px 0px;
	@media(max-width: 736px){
		flex-direction: column;
		margin: 0px;
	}
	.title{
		position: relative;
		left: 10%;
		bottom: -60px;
		z-index: 5;
		max-width: 400px;
		text-align: left;
		@media(max-width: 736px){
			left: initial;
			bottom: initial;
			position: absolute;
			bottom: 10%; 
			margin: 10px;
		}
		@media(min-width: 1200px){
			max-width: 500px;
			left: 5%;
		}
	}
	.shardImage{
		margin: 30px;
		right: 5%;
		position: relative;
		@media(max-width: 736px){
			right: initial;
			margin: 0px;
			margin-bottom: 100px;
		}
		@media(min-width: 1200px){
			right: 5%;
		}
		.shard{
			position: absolute;
			width: 50px;
			@media(max-width: 736px){
				display: none;
			}
			@media(min-width: 1200px){
				width: 70px;
			}
			&:first-of-type(){
				top: 15%;
				left: -40px;
				@media(min-width: 1200px){
					left: -60px;
				}				
			}
			&:last-of-type(){
				bottom: 10%;
				right: -30px;
				@media(min-width: 1200px){
					right: -40px;
				}
			}
		}
		.block{
			max-width: 400px;
			@media(max-width: 736px){
				max-width: 100%;
				max-height: 300px;
			}
			@media(min-width: 1200px){
				max-width: 500px;
			}
		}
	}
}

// Corked Video Segemnts
.corkedSeg{	
	padding: 30px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.title{
		width: 100%;
		margin: 0px;
		padding: 0px;
		@media(max-width: 736px){
			margin: 5px 0px;
		}
	}
	.flareFrame{
		@media(max-width: 736px){
			display: none;
		}
		img{
			max-width: 100px;
			padding: 0px 20px;
			position: relative;
			top: 20px;
			@media(min-width: 1200px){
				max-width: 150px;
				position: relative;
				top: 50px;
			}
		}
	}
	.flareContent{
		.videoWrap{
			max-width: 400px;
			max-height: 200px;
			margin: 30px 0px; 
			@media(max-width: 736px){
				width: 100%;
			}
			@media(min-width: 1200px){
				max-width: 600px;
				max-height: 400px;
			}
		}
	}
}

// Pricing
.pricingOptions{
	margin: 20px 0px 40px 0px;
	@media(max-width: 736px){
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.priceOption{
		margin: 5px;
		padding: 10px;
		padding-bottom: 10px;
		float: left;
		background-color: white;
		position: relative;
		width: 130px;
		@media(max-width: 736px){
			clear: both;
			width: 150px;
			margin: 20px; 
		}
		@media(min-width: 1200px){
			width: 200px;
		}
		.value{
			position: absolute;
			top: -15px;
			left: 0px;
			right: 0px;
			margin: auto;
		}
		.title{
			font-size: .8em;
			margin-top: 20px;
		}
		.price{
			font-size: 2em;
			margin: 15px 0px;
			margin-bottom: 10px;
			position: relative;
			.mini{
				font-size: .3em;
				position: relative;
				bottom: 15px;
				left: -5px;
			}
		}
		.cta{
			line-height: 30px;
			width: 100%;
			display: inline-block;
			color: $darkYellow; 
			background: lighten(black, 10%);
			text-decoration: none;
			font-size: .9em;
			&:hover{
				background: lighten(black, 20%);
			}
		}
	}
}

.kickStartBanner{
	color: $softGrey;
	padding: 15px;
	border-bottom: 1px solid $softGrey;
	margin-bottom: 20px;
	img{
		position: relative;
		top: 5px;
		margin-left: 5px;
	}
}

// Comments
.comment{
	display: inline-block;
	max-width: 100%;
	form{
		margin: 10px 20px; 
		width: 400px;
		@media(max-width: 736px){
			width: auto;
		}
	}
	.formRow{
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		.formGroup{
			flex-grow: 1;
			margin: 10px;
			display: flex;
			flex-direction: column;
			label{
				text-align: left;
				padding-bottom: 5px;
			}
		}
	}
	input[type=submit]{
		color: $darkYellow;
		background: lighten(black, 10%);
		border: 0px;
		display: inline-block;
		padding: 5px 10px;
		&:hover{
			background: lighten(black, 20%);
		}
	}
}

.commentList{
	display: inline-block;
	width: 500px;	
	@media(max-width: 736px){
		width: 100%;
		max-width: 500px;
	}
	h1{
		margin-bottom: 0px;
	}
	li{
		border-bottom: 1px solid lighten($softGrey, 25%);
		padding: 20px 0px;
	}
}