.modalWrap{
	z-index: 10;
	position: fixed;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: rgba(0,0,0,.5);
	display: none;
	.modal{
		background: white;
		margin: 20px;
		display: inline-block;
		padding: 20px;
		border-radius: 3px;
		position: relative;
		.modalClose{
			color: $darkYellow;
			text-align: right;
			margin: 0px;
			position: absolute;
			right: 20px;
			cursor: pointer;
		}
		.modalHeader{
			border-bottom: 2px dashed darken($darkYellow, 5%);
		}
		.modalBody{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.block{
				max-width: 150px;
				margin: 20px;
				img{
					width: 50px;
				}
				.blockLink{
					text-decoration: none;
					padding: 5px 10px;
					color: $darkYellow;
					display: block;
					background-color: lighten(black, 10%);
					&:hover{
						background: lighten(black, 20%);
					}
				}
			}
		}
	}
}

.modalWrap.show{
	display: block;
}